---
layout: default
--- 
    
{% include postnav.html %}

        <div class="container" >
            <main> 
                <div class="row post-container">
                    {% include logo.html %}

                    <div class="post-body">
                        <h1 class="page-title">How I Became a Programmer</h1>
                        <hr class="page-hr">

                        <article class="article-body">
                    
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, placeat esse nemo alias illo accusantium consequuntur molestiae natus libero laboriosam blanditiis quae aperiam iure aut in. Temporibus unde distinctio nesciunt quaerat! Nam saepe eum quae id voluptatibus, laborum delectus similique iste ducimus sapiente eaque ea quos, perspiciatis cum nesciunt illum.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio iusto porro natus possimus debitis eos quas cumque placeat tempora rem.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, placeat esse nemo alias illo accusantium consequuntur molestiae natus libero laboriosam blanditiis quae aperiam iure aut in. Temporibus unde distinctio nesciunt quaerat! Nam saepe eum quae id voluptatibus, laborum delectus similique iste ducimus sapiente eaque ea quos, perspiciatis cum nesciunt illum.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio iusto porro natus possimus debitis eos quas cumque placeat tempora rem.</p>
                            
                            <h3>The Beginning</h3>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, placeat esse nemo alias illo accusantium consequuntur molestiae natus libero laboriosam blanditiis quae aperiam iure aut in. Temporibus unde distinctio nesciunt quaerat! Nam saepe eum quae id voluptatibus, laborum delectus similique iste ducimus sapiente eaque ea quos, perspiciatis cum nesciunt illum.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio iusto porro natus possimus debitis eos quas cumque placeat tempora rem.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque, placeat esse nemo alias illo accusantium consequuntur molestiae natus libero laboriosam blanditiis quae aperiam iure aut in. Temporibus unde distinctio nesciunt quaerat! Nam saepe eum quae id voluptatibus, laborum delectus similique iste ducimus sapiente eaque ea quos, perspiciatis cum nesciunt illum.</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio iusto porro natus possimus debitis eos quas cumque placeat tempora rem.</p>
                            
                        </article>
                    </div> 

                    <div class="post-footer">
                        <hr class="footer-hr">
                        {% include social-links.html %}
                    </div>
                 </div>
            </main>
        </div>
