
<div class="logo">
    <a href="{{site.baseurl}}/index/">
        <svg xmlns="http://www.w3.org/2000/svg" width="97" height="121" viewBox="0 0 97 121">
            <g id="Group_2" data-name="Group 2" transform="translate(-774 -302)">
                <rect id="Rectangle_4" data-name="Rectangle 4" width="84" height="84" transform="translate(779 314)" fill="#040000"/>
                <rect id="Rectangle_5" data-name="Rectangle 5" width="42" height="42" transform="translate(779 314)" fill="#fff"/>
                <rect id="Rectangle_6" data-name="Rectangle 6" width="42" height="42" transform="translate(821 356)" fill="#fff"/>
                <text id="a" transform="translate(789 346)" fill="#040000" font-size="41" font-family="SegoeUI-Bold, Segoe UI" font-weight="700"><tspan x="0" y="0">a</tspan></text>
                <text id="b" transform="translate(830 391)" fill="#040000" font-size="38" font-family="SegoeUI-Bold, Segoe UI" font-weight="700"><tspan x="0" y="0">b</tspan></text>
                <text id="andreblugg" transform="translate(774 417)" fill="#0f0e0e" font-size="19" font-family="ComicSansMS, Comic Sans MS"><tspan x="0" y="0">andreblugg</tspan></text>
            </g>
        </svg>                        
    </a>
</div>