<nav class="{{include.navclass}}"> 
    <ul class="nav-list {{}}">
        <li class="nav-item"><a href="{{site.baseurl}}/index/">Home</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/about/">About</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/posts/">Posts</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/#projects/">Project</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/#contact/">Contact</a></li>
    </ul>
</nav>


<!-- <nav class="nav-menu-2"> 
    <ul class="nav-list nav-list-2">
        <li class="nav-item"><a href="index.html">Home</a></li>
        <li class="nav-item"><a href="about.html">About</a></li>
        <li class="nav-item"><a href="posts.html">Post</a></li>
        <li class="nav-item"><a href="#projects">Project</a></li>
        <li class="nav-item"><a href="#contact">Contact</a></li>
    </ul>
</nav> -->