.all-posts{
    text-align: center;
    margin: 0 2em;
   
    @include media-breakpoint-up(md){
        margin: 0 5em;
    }
    a{
        color: inherit;
    }
    // .posts-hr{
    //     background: black;
    //     height: .3em;
    //     width: 100px;
    //     margin: 0 auto;
    // }
    .posts-content{
        margin-top: 5em;
        margin-bottom: 3em;
        text-align: left;
        padding: .5em 1em;
        padding-bottom: 2em;
        border-bottom: 1px solid $--clr-font-2;
        .posts-body{
            h2{
                line-height: 1.3;
                margin-bottom: .75em;
            }
            p{
                max-width: 35em;
            }            
        }

        .posts-info{
            font-style: italic;
            line-height: 1.4;
            color: $blue - 100;
            // margin-left: 5.85em;

            display: flex;
            justify-content: flex-end;
            p{
                font-size: $font-mobile-small;
                margin: 0;
                margin-left: .95em;
            }
        }        
    }
    .all-posts--footer{
        display: flex;
        flex-direction: column;
        padding-bottom: 4em;
        .footer-content {
            .pagination{
                display: flex;
                justify-content: space-between;
                max-width: 200px;
                margin: 0 auto;
            }
            .all-posts--end-message{
                display: none;
            }
        }
    }

    .posts-content:hover{
        border-bottom: 1px solid $--clr-font-2;
    }
    // hr{
    //     margin-top: 8em ;
    //     background: black;
    //     height: .5em;
    //     display: block;
    //     margin-bottom: 1em;
    // }
    .social-links{
        justify-self: flex-end;
        align-self: flex-end;
    }
}