.page-title{
    text-align: center;
    line-height: 1.4;
}
.page-hr{
    width: 100px;
    margin: 0 auto;
    margin-top: 1em;
}
.footer-hr{
    // width: 70%;
    margin-top: 8em ;
    height: .5em;
    margin-bottom: 1em;
}