//Colors
$--clr-bg-main: #4A0909;
$--clr-bg_sub: #FFFFFF;
$--clr-accent:  rgb(247, 9, 9);
$--clr-gradient: linear-gradient(340deg, #2A5278, #B05959);
$--clr-white-gradient: linear-gradient(340deg, rgb(233, 233, 227), rgb(235, 208, 208), rgb(255, 255, 255));
$--clr-font_1: #0F0E0E;
$--clr-font_2:  rgb(90, 90, 90);
$--clr-light: rgb(214, 214, 214);
$gray: gray;

//Fonts
$--font_main: 'Comic Sans Ms';
$--font-fallback: 'Lucida Sans', sans-serif, Arial;

//font sizes
$--font-largest: 40px;
$--font-larger: 35px;
$--font-large: 2rem;
$--font-medium: 1.5rem;
$--font-small: 1rem;
$font-mobile: 14px;
$font-mobile-small: 10px;

